@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(17, 24, 39, 1);
}

.aspect-16x9 {
  @apply w-full h-0;
  padding-bottom: 56.25%;
}

.scale-60 {
  --tw-scale-x: 0.6;
  --tw-scale-y: 0.6;
}

/* https://stackoverflow.com/a/44949525 */
.safari-overflow-fix {
  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
